<p style="color: green"><%= notice %></p>

<h1>Spendings</h1>

<div id="spendings">
  <% @spendings.each do |spending| %>
    <%= render spending %>
    <p>
      <%= link_to "Show this spending", spending %>
    </p>
  <% end %>
</div>

<%= link_to "New spending", new_spending_path %>
