
  <div id="types" class="mb-auto">
    <% @types.each do |type| %>
      <%= link_to spendings_path(type.id) do %>
        <%= render type %>
      <% end %>
    <% end %>
  </div>
  <div class="p-5 bg-success">
    <%= link_to "New type", new_type_path,class: 'btn btn-success p-3 w-100 border border-white' %>
  </div>
