  <div class="mb-auto d-flex align-items-center justify-content-center h-75">
    <h1 class="text-center" >CountApp</h1>
  </div>

  <div class="d-flex flex-column mx-3">
    <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary p-3' %>
    <%= link_to "sign up", new_user_registration_path, class: 'btn btn-light p-3' %>
  </div>
